<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-velocity-bootstrap:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-velocity-bootstrap-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-velocity-bootstrap:war exploded" />
    </root>
  </artifact>
</component>